@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&family=Pacifico&family=Spicy+Rice&display=swap');
/*
font-family: 'Pacifico', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Spicy Rice', cursive;
*/

header, section ,.place-to-go{
    height:100vh;
    width:100%;
}
.slider{
height:100vh;
background: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position:absolute;

}
#slider0 {
height:100vh;
background:url(../images/jamaica/women-on-swings.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
#slider1 {
height:100vh;
background:url(../images/jamaica/jamaica-sunset.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}
#slider2 {
height:100vh;
background:url(../images/jamaica/jamaica-1303880_1920.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.description {  
    max-width: 70rem;
    min-height: 30rem;
    background: rgba(0, 0, 0, 0.73);
    margin:0 auto;
    padding-top:20px;
    border-radius:20px;
}

.description h2 {
    text-align:center;
    color:#f7f7f7c5;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.description p {
color:#f7f7f7;
font-weight:2rem;
text-align: justify;
text-align:center;
padding:30px;
}

.buttons {  
    width:250px;
    height:250px; 
    position: relative;
    top:32%;
    border:5px solid white;
    border-radius:50%;
    background: rgba(0, 0, 0, 0.73);
    margin-top:30px;
}
.buttons-container div a {
    text-align:center;
    line-height:250px;
    color:#f7f7f7;
    font-size:25px;
    font-family: 'Oswald', cursive;
    font-weight:200;
    margin:0 auto;
    text-transform: capitalize;
 }
 .resize-buttons-type-1 {   
     height:120px;
     width:120px;
     position:relative;
     margin:0 auto;
     display:inline-flex;
}
.wrapped-in-buttons {
  position:absolute;  
  bottom:20px;
  width:369px;
}
.resize-buttons-type-2 {
     height:90px;
     width:90px;
     position:relative;
     margin:0 auto;
     display:inline-flex;
}

/*---------------------------------------- Select your destination --------*/

.jamaica, .canada, .norway{
    min-height:30vh;   
}

.your-destination {
    height:8vh;
    background:#f7f7f7f7;
    margin:0;
    padding:0;

}
.your-destination  h2 {
     text-align:center;
     font-family: 'Oswald', sans-serif;
     font-size:36px;
     line-height:8vh;
}
.jamaica, .canada, .norway {
   border:1px solid #333333;

}

.picture {
    min-height:30vh; 
    background:url("../images/jamaica/women-on-swings.jpg");
    background-size:cover; 
      margin-bottom:1vh; 
}
.picture-1 {
    min-height:30vh;
    background:url("../images/jamaica/jamaica-sunset.jpg");
    background-size:cover;  
    margin-bottom:1vh;
  
}
.picture-2{
    min-height:30vh;
    background:url("../images/jamaica/jamaica-1303880_1920.jpg");
    background-size:cover;  
    background-position:bottom;
    margin-bottom:1vh;
}

.picture-3{
    min-height:30vh;
    background:url("../images/canada/2048px-Moraine_Lake_(Unsplash).jpg");
    background-size:cover; 
      margin-bottom:1vh; 
}
.picture-4 {
    min-height:30vh;
    background:url("../images/canada/6062033422_102d687269_k.jpg");
    background-size:cover;  
    margin-bottom:1vh;
  
}
.picture-5{
    min-height:30vh;
    background:url("../images/canada/woman-2896389_1920.jpg");
    background-size:cover;  
    background-position:bottom;
    margin-bottom:1vh;
}
.picture-6 {
    min-height:30vh;
    background:url("../images/norway/4669043022_2e375d5bd2_k.jpg");
    background-size:cover; 
      margin-bottom:1vh; 
}
.picture-7 {
    min-height:30vh;
    background:url("../images/norway/5937648493_535ef9d1da_h.jpg");
    background-size:cover;  
    margin-bottom:1vh;
  
}
.picture-8 {
    min-height:30vh;
    background:url("../images/norway/The_Sognefjord.jpg");
    background-size:cover;  
    background-position:bottom;
    margin-bottom:1vh;
}
.name-of-place {
    position:absolute;
    height:100px;
    width:100%;
    background: rgba(0, 0, 0, 0.54);
    z-index:1;
    top:20px;   
}
.name-of-place h2 {
    text-align:center;
    color:#f7f7f7;
    line-height:100px;
}
#map {
   
   height: 100vh;
  
}
@media only screen and (max-width: 992px) {
  #place-to-go  {
    height:286vh;
  }
}








  

