@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&family=Pacifico&family=Spicy+Rice&display=swap');
/*
font-family: 'Pacifico', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Spicy Rice', cursive;
*/

header, section ,.place-to-go{
    height:100vh;
    width:100%;
}
.slider{
height:100vh;
background: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position:absolute;

}
#slider0 {
height:100vh;
background:url(../images/jamaica/women-on-swings.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
#slider1 {
height:100vh;
background:url(../images/jamaica/jamaica-sunset.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}
#slider2 {
height:100vh;
background:url(../images/jamaica/jamaica-1303880_1920.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.description {  
    max-width: 70rem;
    min-height: 30rem;
    background: rgba(0, 0, 0, 0.73);
    margin:0 auto;
    padding-top:20px;
    border-radius:20px;
}

.description h2 {
    text-align:center;
    color:#f7f7f7c5;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.description p {
color:#f7f7f7;
font-weight:2rem;
text-align: justify;
text-align:center;
padding:30px;
}

.buttons {  
    width:250px;
    height:250px; 
    position: relative;
    top:32%;
    border:5px solid white;
    border-radius:50%;
    background: rgba(0, 0, 0, 0.73);
    margin-top:30px;
}
.buttons-container div a {
    text-align:center;
    line-height:250px;
    color:#f7f7f7;
    font-size:25px;
    font-family: 'Oswald', cursive;
    font-weight:200;
    margin:0 auto;
    text-transform: capitalize;
 }
 .resize-buttons-type-1 {   
     height:120px;
     width:120px;
     position:relative;
     margin:0 auto;
     display:inline-flex;
}
.wrapped-in-buttons {
    position:absolute;  
    bottom:20px;
     width:369px;
}
.resize-buttons-type-2 {
     height:90px;
     width:90px;
     position:relative;
     margin:0 auto;
     display:inline-flex;
}

/*---------------------------------------- place-to-go --------*/
.try {
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    position:absolute;
    height:100%;
    padding:0;
    margin-left:-15px;

}
.frame {
    min-height:27.5vh;
    top:1.25vh;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.frame:hover {
 -webkit-box-shadow: -2px 8px 25px 0px rgba(0,0,0,0.85)!important; 
box-shadow: -2px 8px 25px 0px rgba(0,0,0,0.85)!important;
}
     
.jamaica, .canada, .norway{
    min-height:31vh;
    background:#f7f7f7;
    
}
.jamaica:hover, .canada:hover, .norway:hover{
   height:27.5vh;

}
.your-destination {
    height:7vh;
    background:#f7f7f7f7;
    margin:0;
    padding:0;

}
.your-destination  h2 {
     text-align:center;
     font-family: 'Oswald', sans-serif;
     font-size:36px;
     line-height:7vh;
}

.picture {
    min-height:26vh; 
    background:url("../images/jamaica/women-on-swings.jpg");
    background-size:cover; 
    margin-top:0.75vh;  
}
.picture-1 {
    min-height:26vh;
    background:url("../images/jamaica/jamaica-sunset.jpg");
    background-size:cover;  
    margin-top:0.75vh;
}
.picture-2{
    min-height:26vh;
    background:url("../images/jamaica/jamaica-1303880_1920.jpg");
    background-size:cover;  
    background-position:bottom;
    margin-top:0.75vh;
}

.picture-3{
    min-height:26vh;
    background:url("../images/canada/2048px-Moraine_Lake_(Unsplash).jpg");
    background-size:cover; 
     margin-top:0.75vh;
}
     
.picture-4 {
    min-height:26vh;
    background:url("../images/canada/6062033422_102d687269_k.jpg");
    background-size:cover;  
    margin-top:0.75vh;
  
}
.picture-5{
    min-height:26vh;
    background:url("../images/canada/woman-2896389_1920.jpg");
    background-size:cover;  
    background-position:bottom;
    margin-top:0.75vh;
}
.picture-6 {
    min-height:26vh;
    background:url("../images/norway/4669043022_2e375d5bd2_k.jpg");
    background-size:cover; 
    margin-top:0.75vh;
}
.picture-7 {
    min-height:26vh;
    background:url("../images/norway/5937648493_535ef9d1da_h.jpg");
    background-size:cover;  
    margin-top:0.75vh;
  
}
.picture-8 {
    min-height:26vh;
    background:url("../images/norway/The_Sognefjord.jpg");
    background-size:cover;  
    background-position:bottom;
    margin-top:0.75vh;
}
.name-of-place {
    position:absolute;
    height:10vh;
    width:100%;
    z-index:1;
    top:0.75vh;

   
}
.name-of-place h2 {
    text-align:center;
    color:#f7f7f7;
    line-height:26vh;
}
#jamaica-diff1 {
    width:1%;
    height:26vh;
    background:White; 
    position:absolute;
    z-index:1;
    left:32.8%;
    top:0.75vh;
}
#jamaica-diff2 {
    width:1%;
    height:26vh;
    background:white;
    position:absolute;
    z-index:1;
    right:32.8%;
    top:0.75vh;
}
#canada-diff1{
    width:1%;
    height:26vh;
    background:white;
    position:absolute;
    z-index:1;
    right:32.8%;
    top:0.75vh;
}
#canada-diff2{
    width:1%;
    height:26vh;
    background:white;
    position:absolute;
    z-index:1;
    left:32.8%;
    top:0.75vh;
}
#norway-diff1{
    width:1%;
    height:26vh;
    background:white;
    position:absolute;
    z-index:1;
    right:32.8%;
    top:0.75vh;
}
#norway-diff2{
    width:1%;
    height:26vh;
    background:white;
    position:absolute;
    z-index:1;
    left:32.8%;
    top:0.75vh;
}

     
/*---------------------------------------- top bar of the map --------*/
.top-bar {
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    color:#f7f7f7;  
}
.city-to-visit, .places-to-visit {
border:1px solid #f7f7f7;
}
.city-to-visit,.places-to-visit h5 {
    text-align:center;
}
.places-to-visit input[type=checkbox] {
 width:fit-content;
 margin:0 auto;
}
.checkbox {
width:fit-content;
margin:0 auto;
}
.map-section {
    background-color:#f7f7f7;
}
#map {
    height:100vh;   
}
/*---------------------------------------- contact us--------*/
.contact-us-section {
    background-color:#f7f7f7;

}
.contact-us{
text-align:center;
font-family: 'Oswald', sans-serif;
font-size: 2rem;
margin-top:80px;
color:#333333;


}
form {
width:70%;
margin:0 auto;
}
.form-button {
    background:#29a5e2;
}
/*---------------------------------------- Footer--------*/

.social-links {
  display: flex;
  justify-content: center;
  padding:0;
  height:64px;
  background-color:#666666;
  
}
.social-links li {
   margin-top:8px;
   display:inline-block;
   width:48px;
   height:48px;
   line-height:46px;
   background:#f7f7f7;
   border-radius:24px;
   text-align:center;
}

.social-links li i {
      font-size:32px;
      vertical-align:middle;
      color:#29a5e2;

}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*---------------------------------------- Info Window--------*/

.info-window h6 span {
    color: rgba(241, 176, 55, 0.849);
}
@media only screen and (max-width: 992px) {
  #place-to-go  {
  height:250vh;
  }
  #jamaica-diff1 {
      visibility: hidden;
  }
  #jamaica-diff2 {
      visibility: hidden;
  }
  #canada-diff1 {
      visibility: hidden;
  }
  #canada-diff2 {
      visibility: hidden;
  }
  #norway-diff1 {
      visibility: hidden;
  }
  #norway-diff2 {
      visibility: hidden;
  }
}
@media only screen and (max-width: 320px) {
  .contact-us {
    margin-top:5px;
    font-size:32px;
  }
}
@media only screen and (max-width: 768px) {
 #map {
     height:88vh;
     margin-top:0;   
 }
}
 
